.container {
    height: 100px;
    padding: 0px 50px;
    background-color: black ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index:999;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 15px;
    
}
.pageTitle {
    color: White;
    font-size: 35px;
    background-color: wheat;
    border-radius:50%;
    padding: 25px
}
.active {
    margin: 20px;
    font-weight: 500;
    font-size: 25px;
    color:red 
}

.item {
    flex: 1;
    display: flex;
    align-items: center;
}

.item:nth-child(2){
    flex:3;
}
.item:last-child{
    justify-content: flex-end;
}


.callButton {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.texts {
    margin-left: 20px;
    color: white;
}

.text:first-child{
    font-size: 17px;
    font-weight: 500;
}

.text:last-child {
    font-size: 20px;
    font-weight: bold;
}


.list {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    color: white;
    width: 70%;
  }
  
  .listItem {
    margin: 20px;
    font-weight: 500;
    font-size: 25px;
  }
  
  .listItem:hover {
    color: red;
    transition: 0.1s;
  }
  
  
  .list.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: black;
    z-index: 998;
    padding: 20px;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }


.cart {
    position: relative;
}

.counter {
    position: absolute;
    top:-10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.toggleMenu {
    display:none;
}


@media screen and (max-width:768px) {
.list {
    display: none;
}

    .item:nth-child(1){
        flex:3;
    }

.toggleMenu {
    display: block;
    background: none;
    border: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
    margin-right: 15px;
    width: 30px;
}

.pageTitle {
    display: none;
}
.callButton {
    display: none;
}
.texts {
    display: block;
    justify-content: center;
    text-align: center;
}
.toggleMenu:focus {
    outline:none;
}

}